<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .header{
            height: 8vh;
            width: 100%;
            background-color: black;
        }
        .login-div{
            height: 92vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
           
        }
        .signup-div{
            height: 92vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login-signup-form{
            height: auto;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 20px;
            box-shadow: 1px 1px 5px black;
        }
       /* Style the input container */
        .input-container {
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        /* Style the form icons */
        .icon {
        padding: 10px;
        background: dodgerblue;
        color: white;
        min-width: 50px;
        text-align: center;
        }

        /* Style the input fields */
        .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
        }

        .input-field:focus {
        border: 2px solid dodgerblue;
        }

        /* Set a style for the submit button */
        .btn {
        background-color: dodgerblue;
        color: white;
        font-weight: bold;
        font-size: 15px;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        }

        .btn:hover {
        opacity: 1;
        }
        .spanAnchor{
            text-decoration: none;
            margin-top: 15px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="header">

    </div>
    <div class="login-div">
        <form action="/changepassword" method="post" class="login-signup-form" id="change-password-form">
            <h3 style="text-align: center; margin-bottom: 15px;">Change Password</h3 style="text-align: center;">
          
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Current password" name="current_password" id="current_password">
                </div>
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="New password" name="new_password" id="new_password">
            </div>
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="Confirm password" name="confirm_password" id="confirm_password">
            </div>
            <% if (err) { %>
                <p style="color: red; font-weight: bold;"><%= err %></p>
            <% } %>
            <button type="submit" class="btn">Change Password</button>

          </form>
    </div>
</body>
<script>
   document.getElementById("change-password-form").addEventListener('submit',(e)=>{
        e.preventDefault()
       const current_password =  document.getElementById("current_password").value.trim()
       const new_password = document.getElementById("new_password").value.trim()
       const con_password = document.getElementById("confirm_password").value.trim()
       let err = ""
       if(current_password<8){
           err+="Current password is required\n"
           alert(err)
           return false
        }
        if(new_password.length<8){
            err+="New password is required and must have at least 8 charaters"
            alert(err)
            return false
        }
        if(con_password!=new_password){
            err+="Verify password did'nt mathced"
            alert(err)
            return false
        }    
        fetch("/changepassword", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "current_password": current_password,
                "new_password": new_password
            })
        })
        .then(res => {
            alert("Password Updated successfully !")
            console.log(res);
        })
        .catch(err => {
            alert("Something went wrong !");
            console.log(err);
        });

    })
</script>
</html>